{{ define "update.party" }}
    {{ template "admin.navbar" . }}
    {{ template "party.update.content" . }}
    {{ template "footer.l" .}}
{{end}}

{{ define "party.update.content" }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Update Party</h2>
        </div>
        <div class="container">
            <form method="POST" action="/admin/parties/update" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Party Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Party Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="writer" class="col-sm-2 col-form-label">Scope</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="writer" id="writer" placeholder="Writer Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="slogan" class="col-sm-2 col-form-label">Slogan</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="slogan" id="slogan" rows="1"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vid" class="col-sm-2 col-form-label">Upload Image</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control-file" name="vid" id="vid">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-dark float-right">Add Party</button>
                    </div>
                </div>
            </form>
        </div>
    </main>


{{end}}