{{ define "events"}}

    {{template "nav-bar" .}}
    {{template "events.content" . }}
    {{template "footer.l"}}
{{end}}

{{define "events.content"}}
    <section class="mbr-section mbr-section-small" id="pricing-table1-2" data-rv-view="3" style="background-color: rgb(255, 248, 255); padding-top: 4.5rem; padding-bottom: 4.5rem;">


        <div class="container">
                <div class="mb-3 text-center card-deck" style="margin-bottom: 1em">
                    {{range .}}
                    <div class="card  text-xs-center " style="margin-bottom: 3em">
                        <div class="card-header bg-success">{{ .Name }}</div>
                        <div class="card-block lead">
                            <span></span><span></span> <small></small>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Starting Date</strong> {{ .StartTime}}</li>
                                <li class="list-group-item"><strong>Ending Date</strong> {{ .EndingTime}}</li>
                            </ul>
                        </div>
                        <div class="card-block" style="align-items: center;align-content: center;alignment: center"><a href="#"class="btn badge-danger btn-secondary-outline">Register</a></div>
                    </div>
                    {{end}}
                </div>

            </div>
        </div>
    </section>
{{end}}