{ define "home.l.layout" }}
{{ template "nav-bar" .}}
{{ template "home.content" . }}
{{ template "footer.l" .}}
{{end}}


{{define "home.content"}}
    <div class="service_area" style="margin-top: -10em">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>መፍትሄዎቻችንን ያስሱ</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_3 ">
                        <div class="service_hover">
                            <img src="../assets/img/svg_icon/icons8-easy-64.png" alt="">
                            <h3> ቀላል</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>ቀላል</h4>
                                    <p>አፕሊኬሽኖቻችን ለምርጫ ሂደት ቀላል ፣ ቀላል እና ግልፅ ተደርገዋል ፡፡</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_2">
                        <div class="service_hover">
                            <img src="../assets/img/svg_icon/icons8-check-all.svg" alt="">
                            <h3>ሁሉም በአንድ</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>ሁሉም በአንድ</h4>
                                    <p>የእኛ መተግበሪያ ሁሉንም ወደ አንድ ያመጣል</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service service_bg_3">
                        <div class="service_hover">
                            <img src="../assets/img/svg_icon/icons8-solve-64%20(2).png" alt="">
                            <h3>ችግር ፈቺ</h3>
                            <div class="hover_content">
                                <div class="hover_content_inner">
                                    <h4>ችግር ፈቺ</h4>
                                    <p>የእኛ ትግበራ ሁሉንም የምርጫ ችግሮች በሙሉ ይፈታል። በተለይ በድምጽ አላግባብ መጠቀምን በተመለከተ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->

    <!-- about  -->
    <div class="about_area ">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_image">
                        <img src="../assets/img/about/Online-Voting.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_info">
                        <h3>ከፍተኛ ቁጥር ያላቸው የተጠቃሚዎች ብዛት እና የአገልግሎት ጥራት ጥራት</h3>
                        <p>ትግበራ ስርዓታችንን መጠቀም ለሚፈልግ ማንኛውም ሰው ቀላል እና ቀላል ነው<br> እና ከቀላል እስከ ሀገር ደረጃ ሁሉንም የምርጫ ዝግጅቶችን እናገለግላለን</p>
                        <ul>
                            <li> ሁሉም ሰው በቀላሉ ሊጠቀም ይችላል </li>
                            <li> ቦታ እና የጊዜ ገደቦች አይሆንም </li>
                            <li> ሁሉንም ነገር ከአንድ ቦታ ያግኙ</li>
                        </ul>

                        <div class="about_btn">
                            <a class="boxed-btn3" href="#">ስለ እኛ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about  -->

    <!-- counter  -->
    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >52</span> <span>+</span> </h3>
                        <span>ክልላዊ ምርጫዎች</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >4</span>  </h3>
                        <span>ብሄራዊ ምርጫዎች</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3> <span class="counter" >95</span> <span>%</span> </h3>
                        <span>ስኬት</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ counter  -->



{{ end }}