{{define login}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome-4.7.0css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconiccss/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/util.css">
    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/login.css">

</head>
<body>
<div class="container-login100" >
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form">
<span class="login100-form-title p-b-37">
Log In
</span>
            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
                <input class="input100" type="text" name="username" placeholder="Username">
                <span class="focus-input100"></span>{{ .Username }}
            </div>
            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                <input class="input100" type="password" name="password" placeholder="Password">
                <span class="focus-input100"></span>{{ .Password}}
            </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Log in
                    </button>
                </div>
                <a class="already" href="signup.html">Don't have an account?</a>
            </form>
    </div>
</div>
</body>
</html>
{{end}}