
{{ define "login.layout" }}
    {{ template "nav-bar" . }}
    {{ template "login.content" . }}
    {{ template "footer.l" . }}
{{ end }}
{{ define "login.content" }}
    <style>
        .form-signin {
            width: 100%;
            max-width: 400px;
            padding: 15px;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
            margin: 10px;
        }
    </style>
    <div class="container">
        <form class="form-signin" method="POST" action="/login">
            <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
            <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
            {{with .VErrors.Get "generic" }}
                <label class="text-danger">{{ . }}</label>
            {{end}}
            <div class="col-auto">
                <label for="g_id" class="col-form-label">Email Address</label>
                <input type="text" id="g_id" name="g_id" value='{{ .Values.Get "email" }}' class="form-control" placeholder="GID"
                       required autofocus>
            </div>
            <div class="col-auto">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block form-control" type="submit">Sign in</button>
        </form>
    </div>
{{ end }}
{{/*{{define login}}*/}}
{{/*<!DOCTYPE html>*/}}
{{/*<html lang="en">*/}}
{{/*<head>*/}}
{{/*    <title>Log In</title>*/}}
{{/*    <meta charset="UTF-8">*/}}
{{/*    <meta name="viewport" content="width=device-width, initial-scale=1">*/}}

{{/*    <link rel="stylesheet" type="text/css" href="../assets/fonts/font-awesome-4.7.0css/font-awesome.min.css">*/}}

{{/*    <link rel="stylesheet" type="text/css" href="../assets/fonts/iconiccss/material-design-iconic-font.min.css">*/}}

{{/*    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/util.css">*/}}
{{/*    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/login.css">*/}}

{{/*</head>*/}}
{{/*<body>*/}}
{{/*<div class="container-login100" >*/}}
{{/*    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">*/}}
{{/*        <form class="login100-form validate-form">*/}}
{{/*<span class="login100-form-title p-b-37">*/}}
{{/*Log In*/}}
{{/*</span>*/}}
{{/*            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">*/}}
{{/*                <input class="input100" type="text" name="username" placeholder="Username">*/}}
{{/*                <span class="focus-input100"></span>{{ .Username }}*/}}
{{/*            </div>*/}}
{{/*            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">*/}}
{{/*                <input class="input100" type="password" name="password" placeholder="Password">*/}}
{{/*                <span class="focus-input100"></span>{{ .Password}}*/}}
{{/*            </div>*/}}
{{/*                <div class="container-login100-form-btn">*/}}
{{/*                    <button class="login100-form-btn">*/}}
{{/*                        Log in*/}}
{{/*                    </button>*/}}
{{/*                </div>*/}}
{{/*                <a class="already" href="signup.html">Don't have an account?</a>*/}}
{{/*            </form>*/}}
{{/*    </div>*/}}
{{/*</div>*/}}
{{/*</body>*/}}
{{/*</html>*/}}
{{/*{{end}}*/}}
