{{/*{{ define "partiesss"}}*/}}
{{/*    {{ template "nav-bar"}}*/}}
{{/*    {{template "parties.content" .}}*/}}
{{/*    {{template "footer.l"}}*/}}
{{/*{{end}}*/}}

{{define "parties.content" }}
    <section  class="mbr-section mbr-section-nopadding" id="msg-box5-0" data-rv-view="15" style="background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 0rem;padding-left: 20%;padding-right: 20%">

        {{ range  . }}

            <div class="card border-light shadow-sm" style="width: 18rem;">
                <img src="../assets/party/{{.Logo}}" class="card-img-top" />
                <input hidden name="eve_id" id="eve_id" value="{{.Event}}">
                <input hidden name="prt_id" id="prt_id" value="{{.ID}}">
                <div class="card-body">
                    <h4 class="card-title">{{.Name}}</h4>
                    <p class="card-text"> {{.Slogan}} </p>
                    <a href="/vote"class="card-link">Vote</a>
                </div>
            </div>
        {{ end }}

    </section>



{{end}}


