
{{define "vote.form"}}

{{ template "nav-bar" . }}
{{ template "vote.list" . }}
{{ template "footer.l" .}}

{{end}}


{{define "vote.list"}}
    
<div class="party-container">
    <form action="/">
        <!--<fieldset disabled="disabled">-->
        <!--if voters id valid/didnt vote before, unlock the vote page, maybe use if statment action-->

        {{range .}}
        <div class="party-container">
        <img id="party-image"  src= "../assets/images/{{.Logo}}"><br><!--logo-->
       <p id="partyname">{{ .PartyName }}</p>
        <!--partyName {{ .PartyName }}-->

        <button id="party-button" type="submit" name="vote_button">Vote</button> <!--partyName-->
    </div>
        {{end}}
        <!--</fieldset>-->
    </form>
      
      
        


{{end}}

