
#party-img {
    margin: 0px;
    
  }
  

 .party-container{
    border: 1px solid gray;
  
    padding-bottom: 0mm;
    padding-left: 0.4mm;
    padding-right: 0mm;
    padding-top: 0.4mm;
    width: 50;
    float: left;
    

 }

 
#party-button {
   max-width: 100;
    margin-bottom: 0px;
    

    
  }

  